<!DOCTYPE html> 
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<!--
Template for direction list.

Template part marker: TEMPLATE_SCHEDULE_DIRECTION_LIST
Template markers:
* PREFIXID: Id of the plugin
* LINE_PICTO: Image representing the selected line. Can be empty. # Note: May externalize
* DIRECTION_LIST_TITLE: Title of the direction list

List subpart: DIRECTION_LIST
List item markers:
* DATA_THEME: Data theme for jQuery (html5) # Note: Externalize
* URL: Link to the next step for this direction
* DIRECTION_NAME: Name of the direction

-->
</head>

<body>

<!-- ###TEMPLATE_SCHEDULE_DIRECTION_LIST### begin -->
<div class="###PREFIXID###_directionList">
	<div class="###PREFIXID###_recap recap">
		<div class="ui-block-d" data-theme="e">
			<p class="###PREFIXID###_lineInfo lineInfo">
				<span class="linePictoSchedule">
					###LINE_PICTO###
				</span>
				<span class="title">###DIRECTION_LIST_TITLE###</span>
			</p>
		</div>
	</div>
	
	<ul class="###PREFIXID###_directionList" data-role="listview" data-filter="true"><!-- ###DIRECTION_LIST### begin -->
		<li data-theme="###DATA_THEME###" data-icon="false">
			<a href="###URL###">
				<span class="directionName">###DIRECTION_NAME###</span>
			</a>
		</li><!-- ###DIRECTION_LIST### end -->
	</ul>
</div>
<!-- ###TEMPLATE_SCHEDULE_DIRECTION_LIST### end -->

</body>
</html>