<!DOCTYPE html> 
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<!--
Template for next departures.

-->
</head>

<body style="background-color:#333;">

<!-- ###TEMPLATE_STATION_NEXT### begin -->
###STATION###
<!-- ###TEMPLATE_STATION_NEXT### end -->

<!-- ###TEMPLATE_PROXIMITY### begin -->
<ul class="###PREFIXID###_proximity"><!-- ###STATIONS### begin -->
	<li>###STATION###
	</li><!-- ###STATIONS### end -->
</ul>
<!-- ###TEMPLATE_PROXIMITY### begin -->

<!-- ###TEMPLATE_BOOKMARK### begin -->
	<h3>###BOOKMARKS###</h3>
	<ul data-role="listview">
		<!-- ###STATIONS_LIST### begin -->
			<li>###STATION###</li>
		<!-- ###STATIONS_LIST### end -->
	</ul>
<!-- ###TEMPLATE_BOOKMARK### begin -->

<!-- ###TEMPLATE_BOOKMARK_MANAGE### begin -->
	<h3>###BOOKMARKS###</h3>
	<ul data-role="listview">
		<!-- ###STATIONS_LIST### begin -->
			<li>
				###STATION###
				###LINKS###
			</li>
			
		<!-- ###STATIONS_LIST### end -->
	</ul>
<!-- ###TEMPLATE_BOOKMARK_MANAGE### end -->

<!-- ###TEMPLATE_BOOKMARK_LINKS### begin -->
	<!-- ###UP### begin -->
	<p class="up"><a href="###UP_LINK###">###UP_LABEL###</a></p>
	<!-- ###UP### end -->
	<!-- ###DELETE### begin -->
	<p class="delete"><a href="###DELETE_LINK###">###DELETE_LABEL###</a></p>
	<!-- ###DELETE### end -->
	<!-- ###DOWN### begin -->
	<p class="down"><a href="###DOWN_LINK###">###DOWN_LABEL###</a></p>
	<!-- ###DOWN### end -->
<!-- ###TEMPLATE_BOOKMARK_LINKS### end -->

<!-- ###TEMPLATE_STATION### begin -->
<div>
	<p class="###PREFIXID###_stationTitle">###PICTO### ###LINE### ###NAME### ###TO_LABEL### ###DIRECTION###</p>
	<div class="###PREFIXID###_departureTime"><!-- ###TEMPLATE_TIMES### begin -->
		<p>###TIME###</p><!-- ###TEMPLATE_TIMES### end -->
	</div>
</div><!-- ###TEMPLATE_STATION### end -->

<!-- ###TEMPLATE_STATION_PROXIMITY### begin -->
<div>
	<p class="###PREFIXID###_stationTitle">###PICTO### ###LINE### ###NAME### ###TO_LABEL### ###DIRECTION###</p>
	<div class="###PREFIXID###_departureTime"><!-- ###TEMPLATE_TIMES### begin -->
		<p>###TIME###</p><!-- ###TEMPLATE_TIMES### end -->
	</div>
	<p class="###PREFIXID###_distance">###DISTANCE###</p>
</div><!-- ###TEMPLATE_STATION_PROXIMITY### end -->

<!-- ###TEMPLATE_STATION_NODATA### begin -->
<div>
	<p class="###PREFIXID###_stationTitle">###PICTO### ###LINE### ###NAME### ###TO_LABEL### ###DIRECTION###</p>
	<div class="###PREFIXID###_noDepartureTime">
		###MESSAGE###
	</div>
</div><!-- ###TEMPLATE_STATION_NODATA### end -->

<!-- ###TEMPLATE_PROXIMITY_NODATA### begin -->
###MESSAGE###<!-- ###TEMPLATE_PROXIMITY_NODATA### end -->
</body>
</html>