<!DOCTYPE html> 
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<!--
Template for stop list.

Template part marker: TEMPLATE_SCHEDULE_STOP_LIST
Template markers:
* PREFIXID: Id of the plugin
* LINE_PICTO: Image representing the selected line. Can be empty. # Note: May externalize
* DIRECTION_NAME: Title of the selected direction
* STOP_LIST_TITLE: Title of the stop list

List subpart: STOP_LIST
List item markers:
* DATA_THEME: Data theme for jQuery (html5) # Note: Externalize
* URL: Link to the next step for this stop
* STOP_NAME: Name of the stop

-->
</head>

<body>


<!-- ###TEMPLATE_SCHEDULE_STOP_LIST### begin -->
<div class="###PREFIXID###_stopList">
	<div class="###PREFIXID###_recap recap">
		<div class="ui-block-d" data-theme="e">
			<p class="###PREFIXID###_lineInfo lineInfo">
				<span class="linePictoSchedule">
					###LINE_PICTO###
				</span>
				<span class="lineInfo">
					###DIRECTION_NAME###
				</span>
			</p>
		</div>
	</div>

	<h3>###STOP_LIST_TITLE###</h3>
	<ul class="###PREFIXID###_stopList" data-role="listview" data-filter="true"><!-- ###STOP_LIST### begin -->
		<li data-theme="###DATA_THEME###" data-icon="false">
			<a href="###URL###">###STOP_NAME###</a>
		</li><!-- ###STOP_LIST### end -->
	</ul>
</div>
<!-- ###TEMPLATE_SCHEDULE_STOP_LIST### end -->

</body>
</html>